@use "globals" as *;


body {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
}
.container {
  margin: 0 em(32px);
}
article {
    display: flex;
    flex-direction: column;
    .logo {
        order: 1;
        margin: em(32px) 0;
        img {
            max-width: em(100px);
        }
    }
    .hero-content {
        order: 3;
        text-align: center;
        h1 {
            text-transform: uppercase;
            color: $clr-neutral-900;
            font-weight:600;
            font-size: rem(42px);
            letter-spacing: rem(10px);
            margin-top: rem(66px);
            margin-bottom: 1rem;
            span {
                font-weight: 300;
                color: $clr-primary-300;
            }
        }
        p {
            color: $clr-primary-500;
            font-size: rem(14px);
            margin-top: rem(10px);
            display: none;
            &:not(.error) {
              display: block;
              color: $clr-primary-300;
              line-height: 1.6;
              margin-bottom: rem(32px);
            }
        }
        form {
          position: relative;
          margin-bottom: em(90px);
          input {
            width: 100%;
            border: $clr-primary-300 solid 1px;
            padding: rem(15px) rem(24px);
            border-radius: 2em;
            outline: none;
            &::placeholder {
              font-size: rem(14px);
              color: lighten($clr-primary-300, 10%);
            }
            &:focus {
              border: $clr-primary-500 solid 1px;
            }
          }
          .button {
            position: absolute;
            top: 0;
            right: 0;
            border: none;
            background-image: linear-gradient(135deg,hsl(0, 80%, 86%), hsl(0, 74%, 74%));
            padding: rem(15px) rem(26px);
            border-radius: rem(24px);
            transition: 0.3s ease-in-out;
            box-shadow: rgba(0, 0, 0, 0.10) 0px 12px 13px, rgba(0, 0, 0, 0.05) 0px -3px 5px;
            outline: none;
            cursor: pointer;
            &:hover {
              background-image: (135deg,hsl(0, 0%, 100%),to hsl(0, 100%, 98%));
            }
          }
          label {
            img {
              display: none;
              position: absolute;
              top: 16%;
              right: 23%;
            }
          }
        }
    }
    .hero-img {

        order: 2;
    }
}

@media (min-width:em(768px)) {
  body {
    background: url(/images/bg-pattern-desktop.svg) no-repeat center/cover;  
  }
  .container {
    margin: 0 em(220px) 0 em(165px);
  }
  article {
    display: grid;
    grid-template-rows: 1fr 4fr;
    .logo .hero-content{
      grid-column: 1 / 2;
    }
    .hero-img {
      grid-column: 2 / 3;
      grid-row: 1 / 3;
      img {
        max-height: 100vh;
        max-width: none;
      }
    }
    .logo {
      margin: em(66px) 0 0;
      img {
        max-width: em(158px);
      }
    }
    .hero-content {
      text-align: start;
      h1 {
        font-size: rem(62px);
        letter-spacing: rem(20px);
        line-height: 1.1;
        margin-top: rem(76px);
        margin-bottom: rem(19px);
      }
      p{
        font-size: rem(16px);
        margin-left: rem(34px);
        &:not(.error) {
          margin-left: 0;
          line-height: 1.7;
          margin-bottom: rem(40px);
        }
      }
      form {
        input {
          padding: rem(19px) rem(34px);
          &::placeholder {
            font-size: rem(16px);
          }
        }
        .button {
          padding: rem(19px) rem(44px);
          border-radius: 2rem;
        }
        label {
          img {
            top: 20%;
            right: 26%;
          }
        }
      }
    }
  }
}